<% items.each do |item| %>
  <% item_name = render_breadcrumb_item_name(item) %>
  <% break unless item_name %>

  <% item_path = render_breadcrumb_item_path(item) %>
  <% if item_path %>
    <li class="breadcrumb-item">
      <a href="<%= item_path %>"><%= item_name %></a>
    </li>
  <% else %>
    <li class="breadcrumb-item active" aria-current="page">
      <%= item_name %>
    </li>
  <% end %>
<% end %>
